In [4]:
from faker import Faker
from faker import Factory
import random
import pandas as pd

In [2]:
fake = Factory.create()
print(fake.name())

Jesse Barr

In [6]:
def create_rows(num=10):
    output = [{"name":fake.name(),
                "address":fake.address(),
                "name":fake.name(),
                "email":fake.email(),
                "sentence":fake.bs(),
                "address":fake.address(),
                "city":fake.city(),
                "state":fake.state(),
                "datetime":fake.date_time(),
                "comment":fake.catch_phrase(),
                "score":random.randint(0,11)} for x in range(num)]
    return output

In [9]:
df = create_rows(num=10)
df = pd.DataFrame(df)
df.head()

,name,address,email,sentence,city,state,datetime,comment,score
0,Travis Zamora,"58564 Nancy Gardens\nHillhaven, ID 43448",coxcatherine@example.com,innovate 24/7 convergence,Lake Steven,Utah,1974-02-27 13:38:08,Business-focused client-driven initiative,5
1,Breanna Robinson,"4186 John Ville Suite 118\nBrandyville, PR 95804",melaniesanchez@example.com,whiteboard front-end initiatives,Morrisland,Arkansas,1982-08-07 00:18:30,Optimized next generation adapter,8
2,Veronica Williams,2128 Maynard Skyway Suite 383\nLake Elizabethv...,wbaker@example.org,disintermediate transparent metrics,East Jasonborough,Rhode Island,2010-11-01 01:23:56,Extended executive workforce,5
3,Scott Gilbert,"2254 Patricia Union Apt. 849\nNew Jennifer, WY...",danieljones@example.com,empower next-generation paradigms,Susanstad,North Carolina,1970-12-06 02:58:46,Quality-focused national archive,2
4,Karen Meyer,"12617 Jennifer Crossing\nLake Tracyton, HI 31898",randall69@example.org,leverage e-business info-mediaries,Port Joseph,Hawaii,2002-12-06 18:41:09,Total tangible secured line,4